@import url("reset.css");
:root {
    --highlight-color: #FF5E3A;
    --accent-color: #FFB300;
    --section-background-color: #FF6F61;
    --active-color: #4A90E2;
    --background-color: #FFF8F0;
    --navbar-height: 75px;
}

body {
    font-family: sans-serif;
}

.navbar {
    display: inherit;
}

.navbar ul {
    display: flex;
    position: sticky;
    height: var(--navbar-height);
    padding: 0;

    justify-content: center;
    align-items: center;
    gap: 70px;

    background-color: black;

    list-style: none;
    color: white;
}

.navbar ul li a {
    color: inherit;
    text-decoration: inherit;
}

.navbar ul li a:hover {
    color: lightgray;
}

/* Lollapalooza CSS*/

.lolla-wrapper {
    max-width: 85%;
    max-height: 90%;
    background-color: red;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.lolla-wrapper .lolla-image {
    background-color: blue;
    width: 100%;
    height: 350px;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
}

.lolla-wrapper .lolla-image .lolla-text {
    height: 200px;
    width: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* margin: 0 auto; */
}

.lolla-wrapper .lolla-image .lolla-text p {
}

.lolla-wrapper .three-lolla .img1 {
}

.lolla-wrapper .three-lolla .img2 {
}

.lolla-wrapper .three-lolla .img3 {
}

.lolla-wrapper .lolla-data1 .data1-img {
}

.lolla-wrapper .lolla-data1 .data1-text {
}

.lolla-wrapper .lolla-data2 .data2-img {
}

.lolla-wrapper .lolla-data2 .data2-text {
}

.lolla-wrapper .lolla-data3 .data3-img {
}

.lolla-wrapper .lolla-data3 .data3-text {
}

/* Lollapalooza - CRUD CSS */
.cards-wrapper {
    display: flex;
    margin: 0 7.5vw;
}

.card {
    width: 350px;
    height: 500px;
    padding-top: 20px;
    background-color: var(--section-background-color);
    border-radius: 25px;

    text-align: center;
    color: inherit;
    text-decoration: none;
}

.card h2 {
    color: var(--accent-color);
}


.card img {
    width: 100%;
    padding: 15px;
    background-color: #ccc;
}
