@import url("reset.css");
:root {
/* Add color variables here */
    --navbar-height: 75px;
}

.navbar {
    display: inherit;
}

.navbar ul {
    display: flex;
    position: sticky;
    height: var(--navbar-height);
    padding: 0;

    justify-content: center;
    align-items: center;
    gap: 70px;

    background-color: black;

    list-style: none;
    color: white;
}

.navbar ul li a {
    color: inherit;
    text-decoration: inherit;
}

.navbar ul li a:hover {
    color: lightgray;
}

/* Lollapalooza CSS*/

.lolla-wrapper {
    max-width: 85%;
    max-height: 90%;
    background-color: red;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.lolla-wrapper .lolla-image {
    background-color: blue;
    width: 100%;
    height: 350px;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
}

.lolla-wrapper .lolla-image .lolla-text {
    height: 200px;
    width: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* margin: 0 auto; */
}

.lolla-wrapper .lolla-image .lolla-text p {
}

.lolla-wrapper .three-lolla .img1 {
}

.lolla-wrapper .three-lolla .img2 {
}

.lolla-wrapper .three-lolla .img3 {
}

.lolla-wrapper .lolla-data1 .data1-img {
}

.lolla-wrapper .lolla-data1 .data1-text {
}

.lolla-wrapper .lolla-data2 .data2-img {
}

.lolla-wrapper .lolla-data2 .data2-text {
}

.lolla-wrapper .lolla-data3 .data3-img {
}

.lolla-wrapper .lolla-data3 .data3-text {
}

/* Lollapalooza - CRUD CSS */