<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Midwestern Festivals</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li>
          <a href="../index.html">Home</a>
        </li>
        <li>
          <a href="#">Festivals</a>
        </li>
        <li>
          <a href="../about.html">About</a>
        </li>
        <li>
          <a href="../contact.html">Contact</a>
        </li>
      </ul>
    </nav>

    <h1>Festivals</h1>
    <div class="cards-wrapper">
      <a href="festivals/shaky_knees.html" class="card">
        <h2>Shaky Knees</h2>
        <img src="img/festivals/shaky_knees.png" alt="">
        <p class="description">
          With more than 60 bands each year Shaky Knees is a rock-lover’s dream. Since its inception in 2013, Shaky Knees has featured a diverse lineup ranging from world-renowned acts to up-and-coming artists.
        </p>
      </a>
    </div>
    <script src="../js/load_festivals.js"></script>
  </body>
</html>
