<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Midwestern Festivals</title>
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    </head>
    <body>
      
      <nav class="navbar navbar-expand-lg" style="background-color: #FF6F61;">
        <div class="container">
          <a class="navbar-brand text-white fw-bold" href="index.html">Midwestern Festivals</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#festivalNavbar" aria-controls="festivalNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="festivalNavbar">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav" href="#">Festivals</a>
              </li>
              <li class="nav-item">
                <a class="nav" href="../about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav" href="../contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>     
        
        <div class="lolla-wrapper">
            
            <div class="lolla-image">
                <div class="lolla-text">
                    <p>Lollapalooza is 4 days of the world's best music under the iconic Chicago skyline at Grant Park on July 31</p>
                </div>
            </div>
            
            <div class="three-lolla">
                <div class="img1"></div>
                <div class="img2"></div>
                <div class="img3"></div>
            </div>

            <div class="lolla-data1">
                <div class="data1-img"></div>
                <div class="data1-text"><p>It started as a farewell tour – Lollapalooza was originally created in 1991 by Perry Farrell (of Jane's Addiction) as a one-time farewell tour for his band. It ended up becoming a massive annual festival instead!</p></div>
            </div>
            <div class="lolla-data2">
                <div class="data2-text"><p>Lollapalooza isn’t just in Chicago anymore. There are now Lolla festivals in countries like Argentina, Brazil, Germany, Sweden, and even India!</p></div>
                <div class="data2-img"></div>
                
            </div>
            <div class="lolla-data3">
                <div class="data3-img"></div>
                <div class="data3-text"><p>Besides huge music performances, Lolla features interactive art installations, eco-friendly initiatives, and even Kidzapalooza, a family-friendly area with live music for kids.</p></div>
            </div>

            <div class="lolla-button-container">
                <a href="lollapalooza-crud.html" class="lolla-button">Schedule and plan a trip!</a>
            </div>
    
            
        </div>

        <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>  
    </body>
</html>