<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Midwestern Festivals</title>
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        <nav class="navbar">
            <ul>
              <li>
                <a href="index.html">Home</a>
              </li>
              <li>
                <a href="festivals">Festivals</a>
              </li>
              <li>
                <a href="about.html">About</a>
              </li>
              <li>
                <a href="contact.html">Contact</a>
              </li>
            </ul>
        </nav>
        
        <div class="lolla-wrapper">
            
            <div class="lolla-image">
                <div class="lolla-text">
                    <p></p>
                </div>
            </div>
            
            <div class="three-lolla">
                <div class="img1"></div>
                <div class="img2"></div>
                <div class="img3"></div>
            </div>

            <div class="lolla-data1">
                <div class="data1-img"></div>
                <div class="data1-text"></div>
            </div>
            <div class="lolla-data2">
                <div class="data2-img"></div>
                <div class="data2-text"></div>
            </div>
            <div class="lolla-data3">
                <div class="data3-img"></div>
                <div class="data3-text"></div>
            </div>
        </div>

      


        

    </body>
</html>