<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Midwestern Festivals</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li>
          <a href="../index.html">Home</a>
        </li>
        <li>
          <a href="./">Festivals</a>
        </li>
        <li>
          <a href="../about.html">About</a>
        </li>
        <li>
          <a href="../contact.html">Contact</a>
        </li>
      </ul>
    </nav>

    <h1>Shaky Knees</h1>
    <h2>2025 Lineup:</h2>
    <ol>
        <li>Deftones</li>
        <li>My Chemical Romance</li>
        <li>Blink-182</li>
    </ol>
    <a href="shaky_knees-purchase.html">Purchase Ticket</a>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script> 
  </body>
</html>
